

<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header" ng-controller="NavBar as vm">
        <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>

        <div class="top-left-part">
            <a class="logo" href>
                <b>
                    <img src="/Content/Images/logo-white.png" alt="home" class="dark-logo" style="height:45px;" />
                    <img src="/Content/Images/logo-black.png" alt="home" class="light-logo" style="height:45px;"/>
                </b>
                <span class="hidden-xs" style="display: inline;">
                    <img src="/content/images/logo-text-white.png" alt="home" class="dark-logo" style="height:25px;" />
                    <img src="/content/images/logo-text-black.png" alt="home" class="light-logo" style="height:25px;" />
                </span>
            </a>
        </div>

        <ul class="nav navbar-top-links navbar-left hidden-xs">
            <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
        </ul>

        <ul class="nav navbar-top-links navbar-right pull-right" style="margin-right:10px;">

            <li class="dropdown">
                <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                    <i class="ti-user"></i>
                </a>
                <ul class="dropdown-menu animated flipInY pull-right" style="left: auto !important;">                    
                    <li>
                        <a class="text-left" href="/profile/index#!/home"><i class="ti-star text-warning"></i> My Profile</a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                    <i class="icon-bell"></i>
                    <div class="notify" ng-hide="vm.hasSeenNotifications">
                        <span class="heartbit"></span><span class="point">
                        </span>
                    </div>
                </a>
                <ul class="dropdown-menu mailbox animated flipInY pull-right" style="left: auto !important;">
                    <li>
                        <div class="drop-title">You have {{vm.notificationCount}} new Notifications</div>
                    </li>
                    <li>
                        <div class="message-center">
                            <a href ng-repeat="n in vm.notifications">
                                <div class="user-img">
                                    <i class="icon-bell" style="font-size:30px; color:white;"></i>
                                </div>
                                <div class="mail-contnet">
                                    <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; height:1.2em;"
                                        ng-bind-html="n.Title"></h5>
                                    <span class="mail-desc" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; height:1.2em;"
                                          ng-bind-html="n.Message"></span>
                                    <span class="time">{{vm.displayTime(n.CreatedOn)}}</span>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="text-center" href="/notifications/index"> See all notifications <i class="fa fa-angle-right"></i> </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->

        </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>

<script type="text/javascript">
    // Sidebar open close
    $(".open-close").on('click', function () {
        if ($("body").hasClass("content-wrapper")) {
            $("body").trigger("resize");
            $(".sidebar-nav, .slimScrollDiv").css("overflow", "hidden").parent().css("overflow", "visible");
            $("body").removeClass("content-wrapper");
            $(".open-close i").addClass("icon-arrow-left-circle");
            $(".logo span").show();
        }
        else {
            $("body").trigger("resize");
            $(".sidebar-nav, .slimScrollDiv").css("overflow-x", "visible").parent().css("overflow", "visible");
            $("body").addClass("content-wrapper");
            $(".open-close i").removeClass("icon-arrow-left-circle");
            $(".logo span").hide();
        }
    });
</script>