<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.0.0" targetFramework="net452" />
  <package id="Moq" version="4.5.30" targetFramework="net452" />
  <package id="UAParser" version="1.0.0.0" targetFramework="net452" />
  <package id="UAParser.FormFactor" version="1.0.2.941" targetFramework="net452" />
  <package id="YamlDotNet.Core" version="1.1.17" targetFramework="net452" />
  <package id="YamlDotNet.RepresentationModel" version="1.1.17" targetFramework="net452" />
</packages>