
@{
    Layout = null;
}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Dashboard</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li class="active">Dashboard</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row" style="margin-top:15px;">
    <div class="col-md-12 col-lg-3 col-sm-12 col-xs-12">
        <div class="white-box" style="height: 477px !important;">

            <box-loader size="28" color="white" show="vm.isLoadingNotifications" block-loader="true"></box-loader>

            <div style="text-align:center; margin-top:60px;" ng-hide="vm.notifications.length > 0 || vm.isLoadingNotifications">
                <h3>No new Notifications</h3>
            </div>

            <h3 class="box-title" style="text-align:center;" ng-hide="vm.isLoadingNotifications || vm.notifications.length <= 0">
                You have {{vm.notificationCount}} new Notifications
            </h3>
            <div class="message-center" ng-hide="vm.isLoadingNotifications || vm.notification.length <= 0">
                <a href ng-repeat="n in vm.notifications" ng-class="{'b-none':vm.isLastNotification($index)}">
                    <div class="user-img">
                        <i class="icon-bell" style="font-size:30px; color:white;"></i>
                    </div>
                    <div class="mail-contnet">
                        <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; height:1.2em;"
                            ng-bind-html="n.Title"></h5>
                        <span class="mail-desc" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; height:1.2em;"
                              ng-bind-html="n.Message"></span>
                        <span class="time">{{vm.displayTime(n.CreatedOn)}}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <div class="col-md-12 col-lg-9 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="white-box" style="height:231px;">
                    <h3 class="box-title">Total Incoming Payments</h3>
                    <ul class="list-inline two-part">
                        <li><i class="ti-arrow-down text-success"></i></li>
                        <li class="text-right"><i class="fa fa-btc"></i> <span class="counter">23</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="white-box" style="height:231px;">
                    <h3 class="box-title">Total Outgoing Payments</h3>
                    <ul class="list-inline two-part">
                        <li><i class="ti-arrow-up text-danger"></i></li>
                        <li class="text-right"><i class="fa fa-btc"></i> <span class="counter">169</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="white-box">
                    <h3 class="box-title">NEW CLIENTS</h3>
                    <ul class="list-inline two-part">
                        <li><i class="icon-people text-info"></i></li>
                        <li class="text-right"><span class="counter">23</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="white-box">
                    <h3 class="box-title">NEW Projects</h3>
                    <ul class="list-inline two-part">
                        <li><i class="icon-folder text-purple"></i></li>
                        <li class="text-right"><span class="counter">169</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="white-box">
                    <h3 class="box-title">Open Projects</h3>
                    <ul class="list-inline two-part">
                        <li><i class="icon-folder-alt text-danger"></i></li>
                        <li class="text-right"><span class="counter">311</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="white-box">
                    <h3 class="box-title">NEW Invoices</h3>
                    <ul class="list-inline two-part">
                        <li><i class="ti-wallet text-success"></i></li>
                        <li class="text-right"><span class="counter">117</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="text-align: center;">
    <h3 style="text-align:center; padding-top:40px;">
        Dashboard Services<br />
        Coming Soon!
    </h3>
    <p>
        <span class="text-muted">...but you can view your profile <a ui-sref="home">here</a></span>
    </p>
</div>
