
@{
    Layout = null;
}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Profile</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href ui-sref="dashboard">Dashboard</a></li>
            <li class="active">Profile</li>
        </ol>
    </div>
</div>

<ul class="nav customtab nav-tabs" role="tablist"
    style="margin-bottom:20px;">
    <li role="presentation">
        <a href role="tab" ui-sref="base.dashboard">
            <span class="visible-xs">
                <i class="icon-grid" title="Home"></i>
            </span>
            <span class="hidden-xs">Dashboard</span>
        </a>
    </li>
    <li role="presentation" class="active">
        <a href role="tab">
            <span class="visible-xs">
                <i class="icon-settings" title="Bitcoin Address"></i>
            </span>
            <span class="hidden-xs">Profile</span>
        </a>
    </li>
</ul>

<div class="row">
    <div class="col-md-4 col-xs-12">
        <div class="white-box">
            <div class="user-bg" ng-style="vm.getProfileImage()">
            </div>
            <div class="user-btm-box">    
                                
                <!-- .row -->
                <div class="row text-center m-t-10 m-b-20">
                    <div class="col-md-12">
                        <form id="profileImageSelector">
                            <label class="btn btn-success btn-circle btn-lg"
                                   style="margin:0 auto;">
                                <i class="icon-pencil" ng-hide="vm.isUpdatingProfileImage"
                                   style="margin-top:5px; display:inline-block;"></i>
                                <ring-loader size="18" color="white" show="vm.isUpdatingProfileImage"></ring-loader>
                                <input type="file"
                                       binary-data="vm.previewImage"
                                       style="width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1;" />
                            </label>
                        </form>
                    </div>
                </div>      


                <!-- .row -->
                <hr style="margin-top:0;" />    
                <div class="row text-center m-t-10">
                    <div class="col-md-6 b-r" style="text-align:center;">
                        <strong>Reference Code</strong>
                        <p>
                            {{vm.userRef}}
                        </p>
                        <button type="button" class="btn btn-sm btn-outline btn-success wav"
                                ng-click="vm.refCopied()"
                                data-clipboard-action="copy" data-clipboard-text="{{vm.userRef}}"
                                data-toggle="tooltip" data-original-title="Copy Reference Code to clipboard"
                                id="refClipboardCopy">
                            <i class="ti-clipboard"></i> Copy
                        </button>
                    </div>
                    <div class="col-md-6">
                        <strong>Name</strong>
                        <p>
                            {{vm.getNames()}}
                        </p>
                    </div>
                </div>   
            </div>
        </div>
    </div>

    <div class="col-md-8 col-xs-12">
        <div class="white-box">
            <!-- .tabs -->
            <ul class="nav nav-tabs tabs customtab">
                <li class="tab" ng-class="vm.getActiveClassFor('profile')">
                    <a href ng-click="vm.activateTab('profile')" data-toggle="tab" aria-expanded="true"> <span class="visible-xs"><i class="fa fa-user"></i></span> <span class="hidden-xs">Profile</span> </a>
                </li>
                <li class="tab" ng-class="vm.getActiveClassFor('edit')">
                    <a href ng-click="vm.activateTab('edit')" data-toggle="tab" aria-expanded="false"> <span class="visible-xs"><i class="icon-note"></i></span> <span class="hidden-xs">Edit</span> </a>
                </li>
            </ul>
            <!-- /.tabs -->
            <div class="tab-content">
                <!-- .tabs 1 -->
                <div class="tab-pane" ng-class="vm.getActiveClassFor('profile')">

                    <div class="row">
                        <div class="col-md-6 col-xs-6 b-r">
                            <strong>Full Name</strong>
                            <br>
                            <p class="text-muted">{{vm.getFullNames()}}</p>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <strong>Account ID</strong>
                            <br>
                            <p class="text-muted">{{vm.user.UserId}}</p>
                        </div>
                    </div>

                    <hr />
                    <div class="row" >
                        <div class="col-md-3 col-xs-6 b-r">
                            <strong>Nationality</strong>
                            <br>
                            <p class="text-muted">{{vm.userBio.Nationality || '-'}}</p>
                        </div>
                        <div class="col-md-3 col-xs-6 b-r">
                            <strong>State/Province</strong>
                            <br>
                            <p class="text-muted">{{vm.userBio.StateOfOrigin || '-'}}</p>
                        </div>
                        <div class="col-md-3 col-xs-6 b-r">
                            <strong>Gender</strong>
                            <br>
                            <p class="text-muted">{{vm.getGender()}}</p>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <strong>Date of Birth</strong>
                            <br>
                            <p class="text-muted">{{vm.getDateOfBirth()}}</p>
                        </div>
                    </div>

                    <hr />
                    <div class="row" >
                        <div class="col-md-6 col-xs-6 b-r">
                            <strong>Phone</strong>
                            <br>
                            <p class="text-muted">{{vm.userContact.Phone || '-'}}</p>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <strong>Email</strong>
                            <br>
                            <p class="text-muted">{{vm.userContact.Email || '-'}}</p>
                        </div>
                    </div>

                    <hr/>
                    <div class="row">
                        <div class="col-lg-12" style="text-align:center;">
                            <button type="button" class="btn btn-info btn-outline waves-effect waves-light"
                                    ng-click="vm.activateTab('edit')">
                                <i class="icon-note"></i> Edit
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.tabs1 -->

                <!-- .tabs2 -->
                <div class="tab-pane" ng-class="vm.getActiveClassFor('edit')">
                    <form class="form-horizontal form-material">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label class="col-md-12">First Name</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="First Name" class="form-control form-control-line"
                                           ng-model="vm.tempBio.FirstName"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-12">Last Name</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="Last Name" class="form-control form-control-line"
                                           ng-model="vm.tempBio.LastName"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="example-email" class="col-md-12">Date of Birth</label>
                                <div class="col-md-12">
                                    <input type="date" placeholder="Date of Birth"
                                           class="form-control form-control-line"
                                           ng-model="vm.dobBinding" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="example-email" class="col-md-12">Gender</label>
                                <div class="col-md-12">
                                    <select placeholder="Gender"
                                            class="form-control form-control-line"
                                            enum-options="vm.tempBio.Gender: Pollux.Models.Gender" />
                                </div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="example-email" class="col-md-12">Nationality</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="Country of Origin"
                                           class="form-control form-control-line"
                                           ng-model="vm.tempBio.Nationality" />
                                </div>
                            </div>
                        </div>
                        
                        <div style="margin-top:60px;">
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="phone" class="col-md-12">Phone</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="phone" name="phone"
                                           class="form-control form-control-line"
                                           ng-model="vm.tempContact.Phone" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="alternate-email" class="col-md-12">Alternate Email</label>
                                <div class="col-md-12">
                                    <input type="email" placeholder="Email"
                                           name="alternate-email"
                                           class="form-control form-control-line"
                                           ng-model="vm.tempContact.Email" />
                                </div>
                            </div>
                        </div>                        

                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-default btn-outline waves-effect waves-light"
                                        ng-click="vm.activateTab('profile')">
                                    <i class="ti-arrow-left"></i>
                                </button>
                                <button class="btn btn-outline btn-success waves-effect waves-light" 
                                        type="button"
                                        ng-click="vm.updateProfile()">
                                    <span ng-hide="vm.isUpdatingProfile">Update Profile</span>
                                    <ring-loader size="18" color="white" show="vm.isUpdatingProfile"></ring-loader>
                                </button>
                                <button class="btn btn-outline btn-danger waves-effect waves-light" 
                                        type="button"
                                        ng-click="vm.requestPasswordUpdate()">
                                    <span ng-hide="vm.isRequestingPasswordUpdate"><i class="ti-lock"></i> Update Password</span>
                                    <ring-loader size="18" color="white" show="vm.isRequestingPasswordUpdate"></ring-loader>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
                <!-- /.tabs2 -->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    new Clipboard('#refClipboardCopy');
</script>