
@{
    Layout = null;
}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Profile</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href ui-sref="dashboard">Dashboard</a></li>
            <li class="active">Profile</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-md-4 col-xs-12">
        <div class="white-box">
            <div class="user-bg" ng-style="vm.getProfileImage()"></div>
            <div class="user-btm-box">
                <hr style="margin-top:0;"/>
                <!-- .row -->
                <div class="row text-center m-t-10">
                    <div class="col-md-12">
                        <strong>Name</strong>
                        <p>
                            {{vm.getNames()}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-xs-12">
        <div class="white-box">
            <!-- .tabs -->
            <ul class="nav nav-tabs tabs customtab">
                <li class="tab" ng-class="vm.getActiveClassFor('profile')">
                    <a ng-click="vm.activateTab('profile')" data-toggle="tab" aria-expanded="true"> <span class="visible-xs"><i class="fa fa-user"></i></span> <span class="hidden-xs">Profile</span> </a>
                </li>
                <li class="tab" ng-class="vm.getActiveClassFor('edit')">
                    <a ng-click="vm.activateTab('edit')" data-toggle="tab" aria-expanded="false"> <span class="visible-xs"><i class="fa fa-home"></i></span> <span class="hidden-xs">Activity</span> </a>
                </li>
            </ul>
            <!-- /.tabs -->
            <div class="tab-content">
                <!-- .tabs 1 -->
                <div class="tab-pane" ng-class="vm.getActiveClassFor('profile')">

                    <div class="row">
                        <div class="col-md-6 col-xs-6 b-r">
                            <strong>Full Name</strong>
                            <br>
                            <p class="text-muted">{{vm.getFullNames()}}</p>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <strong>Account ID</strong>
                            <br>
                            <p class="text-muted">{{vm.user.UserId}}</p>
                        </div>
                    </div>

                    <hr />
                    <div class="row" >
                        <div class="col-md-3 col-xs-6 b-r">
                            <strong>Nationality</strong>
                            <br>
                            <p class="text-muted">{{vm.userBio.Nationality || '-'}}</p>
                        </div>
                        <div class="col-md-3 col-xs-6 b-r">
                            <strong>State/Province</strong>
                            <br>
                            <p class="text-muted">{{vm.userBio.StateOfOrigin || '-'}}</p>
                        </div>
                        <div class="col-md-3 col-xs-6 b-r">
                            <strong>Gender</strong>
                            <br>
                            <p class="text-muted">{{vm.getGender()}}</p>
                        </div>
                        <div class="col-md-3 col-xs-6">
                            <strong>Date of Birth</strong>
                            <br>
                            <p class="text-muted">{{vm.getDateOfBirth()}}</p>
                        </div>
                    </div>

                    <hr />
                    <div class="row" >
                        <div class="col-md-6 col-xs-6 b-r">
                            <strong>Phone</strong>
                            <br>
                            <p class="text-muted">{{vm.contact.Phone || '-'}}</p>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <strong>Email</strong>
                            <br>
                            <p class="text-muted">{{vm.contact.Email || '-'}}</p>
                        </div>
                    </div>
                </div>
                <!-- /.tabs1 -->

                <!-- .tabs2 -->
                <div class="tab-pane" id="home">
                    <div class="steamline">
                        <div class="sl-item">
                            <div class="sl-left"> <img src="../plugins/images/users/genu.jpg" alt="user" class="img-circle"> </div>
                            <div class="sl-right">
                                <div class="m-l-40">
                                    <a href="#" class="text-info">John Doe</a> <span class="sl-date">5 minutes ago</span>
                                    <p>assign a new task <a href="#"> Design weblayout</a></p>
                                    <div class="m-t-20 row"><img src="../plugins/images/img1.jpg" alt="user" class="col-md-3 col-xs-12"> <img src="../plugins/images/img2.jpg" alt="user" class="col-md-3 col-xs-12"> <img src="../plugins/images/img3.jpg" alt="user" class="col-md-3 col-xs-12"></div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="sl-item">
                            <div class="sl-left"> <img src="../plugins/images/users/sonu.jpg" alt="user" class="img-circle"> </div>
                            <div class="sl-right">
                                <div class="m-l-40">
                                    <a href="#" class="text-info">John Doe</a> <span class="sl-date">5 minutes ago</span>
                                    <div class="m-t-20 row">
                                        <div class="col-md-2 col-xs-12"><img src="../plugins/images/img1.jpg" alt="user" class="img-responsive"></div>
                                        <div class="col-md-9 col-xs-12">
                                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa</p> <a href="#" class="btn btn-success"> Design weblayout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="sl-item">
                            <div class="sl-left"> <img src="../plugins/images/users/ritesh.jpg" alt="user" class="img-circle"> </div>
                            <div class="sl-right">
                                <div class="m-l-40">
                                    <a href="#" class="text-info">John Doe</a> <span class="sl-date">5 minutes ago</span>
                                    <p class="m-t-10"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="sl-item">
                            <div class="sl-left"> <img src="../plugins/images/users/govinda.jpg" alt="user" class="img-circle"> </div>
                            <div class="sl-right">
                                <div class="m-l-40">
                                    <a href="#" class="text-info">John Doe</a> <span class="sl-date">5 minutes ago</span>
                                    <p>assign a new task <a href="#"> Design weblayout</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.tabs2 -->
            </div>
        </div>
    </div>
</div>