@model BitDiamond.Core.Models.Email.SupportMessage
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Bit Diamond - Support Message</title>
</head>
<body style="margin:0px; background: #f8f8f8; ">

    @Model.Message

</body>
</html>