@model BitDiamond.Core.Models.Email.UserWelcome
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
</head>

<body>
    @Model.Target, <strong>Congratulations!</strong>
    Welcome to the Bit Diamond Family of wealth harvesters!
    <br />
    Follow the links below to understand how the system works, and make sure to go through the FAQ section also.
    <br />
    <strong>Enjoy!!</strong>
    <br /><br />
</body>

</html>
