
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/content/Images/logo-white.png">
    <title>BitDiamond - News</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/content/theme/eliteadmin/dark/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="~/content/theme/eliteadmin/dark/css/animate.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="~/Content/Theme/eliteadmin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="~/Content/Theme/eliteadmin/plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
    <link href="~/Content/Theme/eliteadmin/plugins/bower_components/css-chart/css-chart.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="~/content/theme/eliteadmin/dark/css/animate.css" rel="stylesheet">

    <link href="~/Content/Theme/eliteadmin/plugins/bower_components/summernote/dist/summernote.css" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="~/content/theme/eliteadmin/dark/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="~/content/theme/eliteadmin/dark/css/colors/default-dark.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="~/content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/toastr.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Theme/eliteadmin/plugins/bower_components/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">

    <link href="~/Content/loaders.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css">


    <style type="text/css">
        .jqstooltip {
            position: absolute;
            left: 0px;
            top: 0px;
            visibility: hidden;
            background: rgb(0, 0, 0) transparent;
            background-color: rgba(0,0,0,0.6);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            color: white;
            font: 10px arial, san serif;
            text-align: left;
            white-space: nowrap;
            padding: 5px;
            border: 1px solid white;
            z-index: 10000;
        }

        .jqsfield {
            color: white;
            font: 10px arial, san serif;
            text-align: left;
        }
    </style>
</head>

<body ng-app="posts" class="fix-sidebar" ng-cloak>
    <div id="wrapper">

        <!-- Top Navigation -->
        <x-view ui-view="navbar"></x-view>
        <!-- End Top Navigation -->
        <!-- Left navbar-header -->
        <x-view ui-view="sidebar"></x-view>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper" style="min-height: 885px;">
            <div class="container-fluid bd-slide-in-left bd-fade-in" ui-view="content">
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center hidden-lg hidden-md hidden-sm"> @DateTime.Now.Year © Bit-Diamond </footer>
        </div>
        <!-- /#page-wrapper -->
    </div>


    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Content/Theme/eliteadmin/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/Theme/eliteadmin/dark/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/Content/Theme/eliteadmin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="~/Content/Theme/eliteadmin/dark/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/Theme/eliteadmin/dark/js/waves.js"></script>
    <!--clipboard js -->
    <script src="~/Scripts/libs/clipboardjs/clipboard.min.js"></script>

    <script type="text/javascript" src="~/Content/Theme/eliteadmin/plugins/bower_components/skycons/skycons.js"></script>
    <!--Morris JavaScript -->
    <script src="~/Content/Theme/eliteadmin/plugins/bower_components/raphael/raphael-min.js"></script>
    <script src="~/Content/Theme/eliteadmin/plugins/bower_components/morrisjs/morris.js"></script>
    <!-- Sparkline chart JavaScript -->
    <script src="~/Content/Theme/eliteadmin/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Content/Theme/eliteadmin/plugins/bower_components/jquery-sparkline/jquery.charts-sparkline.js"></script>

    <script type="text/javascript" src="~/Content/Theme/eliteadmin/plugins/bower_components/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript" src="~/Content/Theme/eliteadmin/plugins/bower_components/sweetalert/jquery.sweet-alert.custom.js"></script>

    <!--Counter js -->
    <script src="~/Content/Theme/eliteadmin/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/Content/Theme/eliteadmin/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Content/Theme/eliteadmin/dark/js/custom.min.js"></script>
    <!--script src="~/Content/Theme/eliteadmin/dark/js/widget.js"></script-->

    <script src="~/Content/Theme/eliteadmin/plugins/bower_components/summernote/dist/summernote.min.js"></script>

    <script type="text/javascript" src="~/scripts/libs/zxcvbn.js"></script>
    <script type="text/javascript" src="~/scripts/libs/toastr.min.js"></script>
    <script type="text/javascript" src="~/scripts/libs/moment.min.js"></script>

    <script type="text/javascript" src="~/scripts/libs/angular.min.js"></script>
    <script type="text/javascript" src="~/scripts/libs/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="~/scripts/libs/angular-animate.min.js"></script>
    <script type="text/javascript" src="~/scripts/libs/angular-route.min.js"></script>
    <script type="text/javascript" src="~/scripts/libs/angular-ui-router.min.js"></script>


    <script type="text/javascript" src="~/scripts/app/utils/constants.js"></script>
    <script type="text/javascript" src="~/scripts/app/utils/extensions.js"></script>
    <script type="text/javascript" src="~/scripts/app/utils/tools.js"></script>
    <script type="text/javascript" src="~/scripts/app/utils/map.js"></script>
    <script type="text/javascript" src="~/scripts/app/utils/operation.js"></script>
    <script type="text/javascript" src="~/scripts/app/utils/encodedBinaryData.js"></script>
    <script type="text/javascript" src="~/scripts/app/utils/domain-tools.js"></script>

    <script type="text/javascript" src="~/scripts/app/models/axis-apollo.js"></script>
    <script type="text/javascript" src="~/scripts/app/models/domain.js"></script>

    <script type="text/javascript" src="~/scripts/app/directives/loaders.js"></script>
    <script type="text/javascript" src="~/scripts/app/directives/summernote.js"></script>

    <script type="text/javascript" src="~/scripts/app/services/utility.js"></script>
    <script type="text/javascript" src="~/scripts/app/services/bit-diamond.js"></script>

    <script type="text/javascript" src="~/scripts/app/controllers/posts.js"></script>
    <script type="text/javascript" src="~/scripts/app/controllers/_shared.js"></script>

    <script type="text/javascript" src="~/scripts/app/modules/posts.js"></script>

    <script type="text/javascript">
    $('[data-toggle=tooltip]').tooltip();
    </script>
</body>
</html>