
@{
    Layout = null;
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">News</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li><a href>Posts</a></li>
            <li><a href class="active">News</a></li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row" style="margin-bottom:20px;">

    <div class="col-md-6">
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-outline waves-effect" ng-click="vm.loadFirstPage()"><i class="ti-angle-double-left"></i></button>
            <button type="button" class="btn waves-effect"
                    ng-repeat="page in vm.pageLinks"
                    ng-class="vm.linkButtonClass(page)"
                    ng-click="vm.loadLinkPage(page)">
                {{page+1}}
            </button>
            <button type="button" class="btn btn-default btn-outline waves-effect" ng-click="vm.loadLastPage()"><i class="ti-angle-double-right"></i></button>
        </div>
    </div>

    <div class="col-md-6"
         style="text-align:right;">
        <!--Search will come here...later-->
        <button class="btn btn-outline btn-info"
                ng-show="vm.isAdmin"
                ng-click="vm.createNews()">
            <i class="ti-plus"></i>&nbsp;&nbsp;Add News
        </button>
    </div>

</div>

<div class="row" ng-show="!vm.isLoadingView && vm.posts.Page.length == 0">

    <div class="col-sm-12 col-md-offset-2 col-md-8">
        <p style="font-size:24px; text-align:center;" class="text-muted">
            Oops!<br/>
            There are no news articles to display at this time...
        </p>
    </div>
</div>

<div class="row" ng-hide="vm.isLoadingView" style="margin-top:15px;"
     ng-repeat="post in vm.posts.Page">

    <div class="col-sm-12 col-md-offset-2 col-md-8">
        <div class="white-box bd-card-2">
            <div>
                <i style="font-size:20px;" class="icon-book-open"></i>
                <h4 ng-bind-html="post.Title"
                    style="cursor:pointer; height: 1.5em; line-height:1.5em; text-overflow:ellipsis; white-space:nowrap; text-wrap:none;"></h4>
                <div style="margin-bottom:25px;" class="text-muted">
                    <strong class="time" style="margin-top:15px; font-size:12px;">{{vm.displayDate(post.CreatedOn)}}</strong>
                    &nbsp;/&nbsp;
                    <strong class="time" ng-class="vm.postStatusClass(post)">{{vm.postStatus(post)}}</strong>
                </div>
                <p class="mail-desc"
                   style="line-height: 1.5em; height:4.5em; overflow:hidden;"
                   ng-bind-html="post.Message">
                </p>
                <hr/>
                <div class="row">
                    <div class="col-sm-6" style="text-align:left;">
                        <a href ng-click="vm.showDetails(post)" class="text-muted">
                            READ MORE
                        </a>
                    </div>

                    <div class="col-sm-6" style="text-align:right;">
                        <button class="btn btn-outline btn-default btn-sm waves-effect waves-light"
                                ng-show="vm.canEdit(post)"
                                ng-click="vm.editNews(post)">
                            <i class="ti-pencil"></i>&nbsp;&nbsp;Edit
                        </button>
                        <button class="btn btn-outline btn-sm btn-default dropdown-toggle waves-effect waves-light"
                                style="margin-left:5px; margin-right:5px;"
                                data-toggle="dropdown"
                                ng-show="vm.canAct(post)"
                                ng-click="vm.postAction(post)">
                            <span ng-hide="post.$__isActing">
                                {{vm.postActionText(post)}}
                            </span>
                            <ring-loader size="16" show="post.$__isActing" color="white"></ring-loader>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



            <div ng-show="vm.isLoadingView"
                 style="position:absolute; left:220px; bottom:60px; right:0; top:166px;">
                <box-loader size="40" color="white" show="true" block-loader="true"></box-loader>
            </div>
