
@{
    Layout = null;
}



<form class="form-horizontal form-material">
    <a href="~/Index.html" class="text-center db">
        <img src="~/Content/images/logo-white.png" alt="home" style="height:60px;" /><br />
        <img src="~/Content/images/logo-text-white.png" alt="home" style="height:30px;" />
    </a>

    <div ng-hide="vm.hasInvalidData">
        <h3 class="box-title m-t-40 m-b-0">Recover your Password</h3>

        <div class="form-group ">
            <div class="col-xs-12">
                <input class="form-control" type="password" required="" placeholder="Password" ng-model="vm.password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <input class="form-control" type="password" required="" placeholder="Confirm Password" ng-model="vm.confirmPassword">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <Label>Password Strength: <small class="text-warning">{{vm.strengthMessage()}}</small></Label>
                <div class="progress">
                    <div class="progress-bar " ng-class="vm.strengthClass()" ng-style="vm.strengthPercent()" role="progressbar"></div>
                </div>
            </div>
        </div>
        <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="button"
                        ng-click="vm.recover()">
                    <span ng-hide="vm.isRecovering">Recover</span>
                    <ring-loader size="24" color="white" show="vm.isRecovering"></ring-loader>
                </button>
            </div>
        </div>
        <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
                <p><strong>or</strong> <a href ui-sref="signin" class="text-primary m-l-5"><b>Sign In</b></a></p>
            </div>
        </div>
    </div>


    <div ng-show="vm.hasInvalidData" style="text-align:center; margin-top:40px;">
        <p><h3 class="text-danger">Oops!</h3></p>
        <br />
        <p>An error occured while processing your request. Try again later, or send a complaint to <span class="text-info">support@bitdiamond.com</span></p>
        <br /><br />
        <a href="~/Index.html"
           class="btn btn-default btn-lg btn-block text-uppercase waves-effect waves-light">
            <i class="icon-home"></i> Home
        </a>
    </div>        
</form>