
@{
    Layout = null;
}

<div class="" style="position:absolute; bottom:0;">
    <a href class="text-center db">
        <img src="/content/theme/eliteadmin/dark/../plugins/images/eliteadmin-logo.png" alt="Home"><br />
        <img src="/content/theme/eliteadmin/dark/../plugins/images/eliteadmin-text.png" alt="Home" style="margin-bottom:20px;">
    </a>

    <div class="form-group" style="position:absolute; bottom: 0; overflow-y:scroll;" >

        <p class="text-muted" style="text-align:justify;" ng-bind-html="vm.termsAndConditions"></p>

        <div class="col-xs-12" style="margin-top:20px;">
            <button class="btn btn-default btn-lg btn-block text-uppercase waves-effect waves-light"
                    type="button"
                    ui-sref="signup">
                <span>Ok</span>
            </button>
        </div>
    </div>

</div>
